@{
    ViewBag.Title = "Index";
}
<br />

<div ng-controller="homeController as homeCtrl" ng-cloak>
    <!-- start navbar -->
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <!-- header -->
        <md-toolbar class="md-theme-light">
            <div class="md-toolbar-tools">
                <span><md-icon md-font-icon="fa-user-circle" class="fa fa-2x fa-md md-icon bp profileIcon"> </md-icon> Rick Barnes</span>
            </div>
            <div class="div-56">

            </div>
        </md-toolbar>
        <!-- menu options -->
        <md-content layout-margin class="container">
            <md-button class="md-primary">Profile</md-button>
            <md-button class="md-primary">History</md-button>
            <md-button class="md-primary">Settings</md-button>
            <md-button class="md-primary">Legal</md-button>
            <md-button class="md-primary">Logout</md-button>
        </md-content>
    </md-sidenav>
    <!-- end navbar -->
    <!-- start search input -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <span><md-icon ng-click="homeCtrl.toggleLeft()" md-font-icon="fa-bars" class="blackText fa fa-2x fa-md md-icon-button"></md-icon></span>
            </div>
        </div>
        <div class="row">
            <br />
            <br />
            <br />
            <div class="col-xs-12">
                <form>
                    <md-input-container class="maxWidth text-center" layout-align="center center">
                        <label>Where would you like to go?</label>
                        <input type="text" ng-model="homeCtrl.search" class="md-input" />
                    </md-input-container>
                </form>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />


    <!-- end search input -->
    <div>
        <h2 class="text-center">Plan your trip</h2>
        <div class="grid-list">
            <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile class="green">
                    <md-icon md-font-icon="fa-futbol-o" class="fa fa-5x"></md-icon>
                    <md-grid-tile-footer>
                        <h3>Olympics</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="yellow" ng-click="homeCtrl.showRest()">
                    <md-icon md-font-icon="fa-cutlery" class="fa fa-5x"></md-icon>
                    <md-grid-tile-footer>
                        <h3>Food</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="red" ng-click="homeCtrl.showLandMark()">
                    <md-icon md-font-icon="fa-binoculars" class="fa fa-5x"></md-icon>
                    <md-grid-tile-footer>
                        <h3>Landmarks</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="blue">
                    <md-icon md-font-icon="fa-thumbs-o-up" class="fa fa-5x"></md-icon>
                    <md-grid-tile-footer>
                        <h3>Fun</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>

            </md-grid-list>
        </div>


    </div>
    <div class="widget-body">
        @*<div class="panel-body">
            <div class="row" style="margin-top:2%;">
                <div class="col-md-5">
                    <input type="text" class="form-control" id="find" value="" placeholder="Find Location">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="find" value="" placeholder="Near">
                </div>
                <div class="col-md-2">
                    <button type="button">Search</button>

                </div>

                <div class="col-md-12" style="margin-top:.5%;">
                    <button type="button" ng-click="ic.showRest()">Restaurants</button><button type="button" ng-click="ic.showLandMark()">Landmarks</button>
                </div>
            </div>
        </div>
        <br />*@
        <div class="panel-body" ng-repeat="model in homeCtrl.model">
            <form name="List">
                <div class="form-group list-group-item">
                    <div class="row">
                        <div class="col-xs-2">
                            <!--<img class="commentImg" ng-src="/Images/CocaCola.jpg" style="height: 3em; width: 2.75em; margin: 0 auto; display: block; margin-top:35%;">-->
                            <img src="{{model.Image}}" style="height:100%; width:100%;" />
                        </div>

                        <div class="col-xs-5">
                            <div>{{model.Name}}</div>
                            <div>{{model.Price}}</div>
                            <p>{{model.Distance}}</p>
                        </div>
                        <div class="col-xs-5">
                            <div>{{model.Address}}</div>
                            <div>{{model.City}}</div>
                            <p>{{model.PhoneNumber}}</p>

                        </div>


                    </div>
                </div>
            </form>
        </div>

    </div>

</div>


