@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<br />

<div ng-controller="homeController as homeCtrl" ng-cloak>
    <div id="sidebarMenu">
        <!-- start navbar -->
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
            <!-- header -->
            <md-toolbar class="md-theme-light">
                <div class="md-toolbar-tools">
                    <span><md-icon md-font-icon="fa-user-circle" class="fa fa-2x fa-md md-icon bp profileIcon"> </md-icon> Rick Barnes</span>
                </div>
                <div class="div-56">

                </div>
            </md-toolbar>
            <!-- menu options -->
            <md-content layout-margin class="container">
                <md-button class="md-primary">Profile</md-button>
                <md-button class="md-primary">History</md-button>
                <md-button class="md-primary">Settings</md-button>
                <md-button class="md-primary">Legal</md-button>
                <md-button class="md-primary">Logout</md-button>
            </md-content>
        </md-sidenav>
        <!-- end navbar -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span><md-icon ng-click="homeCtrl.toggleLeft()" md-font-icon="fa-bars" class="blackText fa fa-2x fa-md md-icon-button"></md-icon></span>
                </div>
            </div>
        </div>
    </div>
    <div id="confirmDetails" class="container confirmHeight">
        @*<div id="map" style="height:100%; width:375px">
            <div>
                <div class="map">
                    <map-component></map-component>
                </div>
            </div>
        </div>*@
    </div>
    <!-- start search and planning -->
    <div id="searchAndPlan">
        <div class="container">
            <div class="row">
                <br />
                <br />
                <br />
                <div class="col-xs-12">
                    <form ng-submit="$event.preventDefault()">
                        <md-autocomplete class="autocomplete" md-no-cache="homeCtrl.noCache" md-selected-item="homeCtrl.selectedItem" md-search-text-change="homeCtrl.searchTextChange(homeCtrl.searchText)" md-search-text="homeCtrl.searchText" md-selected-item-change="homeCtrl.selectedItemChange(item)" md-items="item in homeCtrl.querySearch(homeCtrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Where would you like to go?">
                            <md-item-template>
                                <span md-highlight-text="homeCtrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No matching results.
                            </md-not-found>
                        </md-autocomplete>
                        @*<md-input-container class="maxWidth text-center" layout-align="center center">
                            <label>Where would you like to go?</label>
                            <input type="text" ng-model="homeCtrl.search" class="md-input" />
                        </md-input-container>*@
                    </form>
                </div>
            </div>
        </div>
        <br />
        <!-- end search input -->
        <div class="myPadding">
            <div class="row">
                <div class="col-xs-12">
                    <h2 id="planYourTrip" class="text-center">Plan your trip</h2>
                    <h2 id="backBtn" class="text-center"><span class="pull-left" ng-click="homeCtrl.closeDetail()"><md-icon md-font-icon="fa-arrow-left" class="fa fa-md fa-md md-icon-button"></md-icon></span>Go back</h2>
                </div>
            </div>
            <!-- this is the default div on load-->
            <div class="grid-list" id="grid">
                <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                    <md-grid-tile class="green">
                        <md-icon md-font-icon="fa-futbol-o" class="fa fa-5x"></md-icon>
                        <md-grid-tile-footer>
                            <h3>Olympics</h3>
                        </md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="yellow" ng-click="homeCtrl.showFood()">
                        <md-icon md-font-icon="fa-cutlery" class="fa fa-5x"></md-icon>
                        <md-grid-tile-footer>
                            <h3>Food</h3>
                        </md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="red" ng-click="homeCtrl.showLandmarks()">
                        <md-icon md-font-icon="fa-binoculars" class="fa fa-5x"></md-icon>
                        <md-grid-tile-footer>
                            <h3>Landmarks</h3>
                        </md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="blue">
                        <md-icon md-font-icon="fa-thumbs-o-up" class="fa fa-5x"></md-icon>
                        <md-grid-tile-footer>
                            <h3>Fun</h3>
                        </md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </div>
            <!-- this is the details div -->
            <div id="planDetails" class="planHeight">
                <md-card>
                    <md-card-content>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>When are you visiting?</h4>
                                <md-datepicker ng-model="homeCtrl.myDate" md-placeholder="Enter date"></md-datepicker>
                            </div>
                            <div class="col-xs-12">
                                <md-input-container>
                                    <h4>And at what time?</h4>
                                    <input class="md-input" type="time" ng-model="homeCtrl.time" style="width: 60%" />
                                </md-input-container>
                            </div>
                            <div class="col-xs-12">
                                <p>Popular Times</p>
                                <img src="~/images/Graph.JPG" alt="graph" class="graphImg" />
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ng-click="homeCtrl.addEvent()">Add</md-button>
                        <md-button class="md-button md-raised" ng-click="homeCtrl.cancelAddEvent()">Cancel</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <div id="landmarks" layout="column">
                <md-content flex class="myHeight">
                    <div ng-repeat="item in homeCtrl.landmarkModel">
                        <md-card>
                            <img ng-src="{{item.Image}}" class="md-card-image" alt="Washed Out">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{item.Name}} - {{item.Distance}} away</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <address>
                                    {{item.Address}}
                                    {{item.City}}
                                </address>

                                <p><strong>Phone Number: </strong>{{item.PhoneNumber}}</p>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised" ng-click="homeCtrl.model = item; homeCtrl.showPrompt()">Add to Plan</md-button>
                                <md-button class="md-raised" ng-click="homeCtrl.confirmRide()">Visit Now</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </div>
            <div id="food" layout="column">
                <md-content flex class="myHeight">
                    <div ng-repeat="item in homeCtrl.restaurantsModel">
                        <md-card>
                            <img ng-src="{{item.Image}}" class="md-card-image" alt="Washed Out">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{item.Name}} - {{item.Distance}} away</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <address>
                                    {{item.Address}}
                                    {{item.City}}
                                </address>

                                <p><strong>Phone Number: </strong>{{item.PhoneNumber}}</p>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised" ng-click="homeCtrl.model = item; homeCtrl.showPrompt()">Add to Plan</md-button>
                                <md-button class="md-raised" ng-click="homeCtrl.confirmRide()">Visit Now</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>