@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />

<div ng-controller="homeController as homeCtrl" ng-cloak>

    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
        </md-toolbar>

        <md-content layout-margin>
            <p>
                This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
            </p>
            <md-button ng-click="homeCtrl.toggleLeft()" class="md-accent">
                Close this Sidenav
            </md-button>
        </md-content>
    </md-sidenav>
    <!-- start search input -->
    <div class="container">
        <div class="row">
            <div class="col-xs-1">
                <md-icon ng-click="homeCtrl.toggleLeft()" md-font-icon="fa-bars" class="blackText fa fa-2x fa-md md-icon"></md-icon>
            </div>
        </div>
        <div class="row">
            <br />
            <br />
            <br />
            <div class="col-xs-12">
                <form>
                    <md-input-container class="maxWidth text-center" layout-align="center center">
                        <label>Where would you like to go?</label>
                        <input type="text" ng-model="homeCtrl.search" class="md-input" />
                    </md-input-container>
                </form>

            </div>
        </div>
    </div>

    <!-- end search input -->
    <div>

    </div>

</div>


