@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />

<div ng-controller="homeController as homeCtrl">
    <div>
        <!-- App icon goes here -->
         
    </div>

    <!-- start search input -->
    <div>
        <md-input-container class="maxWidth">
            <label>Where would you like to go?</label>
            <input type="text" ng-model="homeCtrl.search" class="md-input" />
        </md-input-container>
    </div>
    <!-- end search input -->
    <div>
        <h1 class="text-center">Ideas</h1>
        <div class="grid-list">
            <md-grid-list  md-cols-xs="2" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile class="green">
                    <md-grid-tile-header class="text-center">
                        <h3>Olympics</h3>
                    </md-grid-tile-header>
                    @*<md-grid-tile-footer>
                    </md-grid-tile-footer>*@
                </md-grid-tile>
                    
                <md-grid-tile class="yellow">
                    <md-grid-tile-header>
                        <h3>Food</h3>
                    </md-grid-tile-header>
                </md-grid-tile>

                <md-grid-tile class="red">
                    <md-grid-tile-header>
                        <h3>Sights</h3>
                    </md-grid-tile-header>
                </md-grid-tile>

                <md-grid-tile class="blue">
                    <md-grid-tile-header>
                        <h3>Fun</h3>
                    </md-grid-tile-header>
                </md-grid-tile>

            </md-grid-list>
        </div>


    </div>

</div>


