@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />

<div ng-controller="homeController as homeCtrl">
    <div>
        <!-- App icon goes here -->
         
    </div>

    <!-- start search input -->
    <div>
        <md-input-container class="maxWidth">
            <label>Where would you like to go?</label>
            <input type="text" ng-model="homeCtrl.search" class="md-input" />
        </md-input-container>
    </div>
    <!-- end search input -->
    <div>

    </div>

</div>


