@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />

<div ng-controller="homeController as homeCtrl" ng-cloak>

    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
        </md-toolbar>

        <md-content layout-margin>
            <p>
                This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
            </p>
            <md-button ng-click="homeCtrl.toggleLeft()" class="md-accent">
                Close this Sidenav
            </md-button>
        </md-content>
    </md-sidenav>
    <!-- start search input -->
    <div class="container">
        <div class="row">
            <div class="col-xs-1">
                <md-icon ng-click="homeCtrl.toggleLeft()" md-font-icon="fa-bars" class="blackText fa fa-2x fa-md md-icon"></md-icon>
            </div>
        </div>
        <div class="row">
            <br />
            <br />
            <br />
            <div class="col-xs-12">
                <form>
                    <md-input-container class="maxWidth text-center" layout-align="center center">
                        <label>Where would you like to go?</label>
                        <input type="text" ng-model="homeCtrl.search" class="md-input" />
                    </md-input-container>
                </form>

            </div>
        </div>
    </div>

    <!-- end search input -->
    <div>
        <h1 class="text-center">Ideas</h1>
        <div class="grid-list">
            <md-grid-list  md-cols-xs="2" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile class="green">
                    <md-grid-tile-header class="text-center">
                        <h3>Olympics</h3>
                    </md-grid-tile-header>
                    @*<md-grid-tile-footer>
                    </md-grid-tile-footer>*@
                </md-grid-tile>
                    
                <md-grid-tile class="yellow">
                    <md-grid-tile-header>
                        <h3>Food</h3>
                    </md-grid-tile-header>
                </md-grid-tile>

                <md-grid-tile class="red">
                    <md-grid-tile-header>
                        <h3>Sights</h3>
                    </md-grid-tile-header>
                </md-grid-tile>

                <md-grid-tile class="blue">
                    <md-grid-tile-header>
                        <h3>Fun</h3>
                    </md-grid-tile-header>
                </md-grid-tile>

            </md-grid-list>
        </div>


    </div>

</div>


