
@{
    ViewBag.Title = "OAuth";
}

<h2>OAuth</h2>

<a href="https://mock.smartcar.com/oauth/authorize?response_type=code&client_id=d0d419a5-ca7d-4e34-9fd4-cccf4bddd33f&scope=read_odometer read_vehicle_info&redirect_uri=http://localhost:3024">TEST</a>