
<div style="padding-bottom: 20px; float: left;">
    <div style="margin-top: 10px">
        <input ng-model="$ctrl.addressModel.postalCode" enter-key="$ctrl.submitAddress()" placeholder="Explore by ZIP code" style="border: solid; border-width: thin; border-radius: 7px; text-align: center;">
    </div>
</div>


<div style="padding-top: 20px; margin-top: 15px">
    <div id="gmap" class="col-md-8" style="position: relative; width:1000px; height: 800px; max-width: 100%; max-height: 100%;"></div>
</div>